<a href="https://colab.research.google.com/github/sangitap-git/python_basics_practice/blob/main/Learning_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Day 1 Python

In [ ]:
print('Day1 Python Basic')

Day1 Python Basic

In [ ]:
type('Tua')

str

In [ ]:
type(1.2)

float

In [ ]:
type (123)

int

In [ ]:
type (True)

bool

In [ ]:
var123 = 10
print(var123)

10

In [ ]:
var_1 = 10
print(var_1)

10

In [ ]:
_var = 10
print (_var)
type (_var)

10

int

In [ ]:
type (_var)
type ('tua')

str

In [ ]:
x=34
y=67.9
z=True
print ('x = ', x, ', \ty = ', y, ', \tz = ', z)

x =  34 , 	y =  67.9 , 	z =  True

#Day 2 Python

In [ ]:
x = 34
y = 67.8
z = True
print(' x = ', x, '\n y = ', y, '\n z = ', z)

 x =  34
 y =  67.8
 z =  True

###Data Type

In [ ]:
x=45.77
int(x)
type(x)

float

In [ ]:
x=45.77
x=int(x)
type(x)

int

In [ ]:
x=45.77
round(x)

46

In [ ]:
str(x)

'45.77'

In [ ]:
bool(0.0)

False

In [ ]:
bool(0.1)

True

###Memory

In [ ]:
x = 10
y = 10
print('x = ', x, '\t', id(x),'\ny = ', y, '\t', id(y))

x =  10 	 11642376
y =  10 	 11642376

In [ ]:
x = 11
y = 18
z = 'ab'
print('x = ', x, '\t', 'id of x = ', id(x),'\ny = ', y, '\t', 'id of y = ', id(y), '\nz = ', z, '\t', 'id of z = ',id(z))

x =  11 	 id of x =  11642408
y =  18 	 id of y =  11642632
z =  ab 	 id of z =  132136872801792

In [ ]:
x=10.34
y=10.34
print('x = ', x, '\t', 'id of x = ', id(x),'\ny = ', y, '\t', 'id of y = ', id(y), '\nz = ', z, '\t', 'id of z = ', id(z))

x =  10.34 	 id of x =  132135889681072
y =  10.34 	 id of y =  132135889671408
z =  ab 	 id of z =  132136872801792

###Operator

In [ ]:
x=50
y=4
print('x+y = ', x+y)
print('x-y = ', x-y)
print('y-x = ', y-x)
print('x*y = ', x*y)
print('x/y = ', x/y)
print('x%y = ', x%y)
print('x//y = ', x//y)
print('x**y = ', x**y)

x+y =  54
x-y =  46
y-x =  -46
x*y =  200
x/y =  12.5
x%y =  2
x//y =  12
x**y =  6250000

##Comparison Operator

In [ ]:
10==10 #Equal Operator

True

In [ ]:
10!=10 #Not Equal Operator

False

In [ ]:
10>5 #Greater Than Operator

True

In [ ]:
10<5 #Lesser Than Operator

False

In [ ]:
a=10
b=30
print('a!=b', a!=b)

a!=b True

###Logical Operator

In [ ]:
a=30
b=30
print('a=b and a>b', a==b and a>b)
print('a=b or a>b', a==b or a>b)
print('a < 50 and b>10', a<50 and b>10)
print(not(a>10))

a=b and a>b False
a=b or a>b True
a < 50 and b>10 True
False

###List

In [ ]:
fruits = ['Apple', 'Banana', 'Mango']
marks = [70, 80, 99]
mixed = ['abc', 3, 'cvb', 6]
fruits.append('Guava')
fruits.append(marks)
fruits.append(mixed)
print(fruits)

['Apple', 'Banana', 'Mango', 'Guava', [70, 80, 99], ['abc', 3, 'cvb', 6]]

In [ ]:
a = ['a', 'b', 'c']
b = a
x = 10.8
y = x
z = ['a', 'b', 'c']
print(id(a), '\t' , id(b), '\t', a is b)
print(id(x), '\t' , id(y), '\t', x is y)
print(id(a)==id(z))
print(id(a)==id(b))

132135886651008 	 132135886651008 	 True
132135889223056 	 132135889223056 	 True
False
True

In [ ]:
a = 'a'
b = 'Sangita'
x = [10, 20, 30, 80]
print (a in b)
print ( a not in b)
print (10 in x)

True
False
True

###String Methods

In [ ]:
string = 'Sangita will get a JOB soon!'
print(string)
print(string.upper())
print(string.lower())
print(string.capitalize())
print(string.title())

Sangita will get a JOB soon!
SANGITA WILL GET A JOB SOON!
sangita will get a job soon!
Sangita will get a job soon!
Sangita Will Get A Job Soon!

###Conditional Statement

In [ ]:
age = 18
if age > 18:
  print('You are an adult')
elif age == 18:
  print('You are just 18')
else:
  print('You are below 18')

You are just 18

#Day 3 Python

###User Input & Loop Condition

In [3]:
# Prompt the user to enter values
inp = input("Enter your nationality:  ")
num = int(input('Enter a number : '))

Enter your nationality:  Indian
Enter a number : -9

In [4]:
if num > 0:
  print('Positive Number')
elif num < 0:
  print('Negative Number')
else:
  print('Zero Number')

Negative Number

In [9]:
Marks = float(input("Enter student's marks : "))
if Marks >= 90:
  print('A Grade')
elif Marks >= 80:
  print('B Grade')
elif Marks >= 70:
  print('C Grade')
elif Marks >= 60:
  print('D Grade')
elif Marks >= 50:
  print('E Grade')
else:
  print('Fail')

print("Thank You!")

Enter student's marks : 88.7
B Grade
Thank You!

In [20]:
# Calculator
print("****Calculator****")
print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")
print("5. Modulus")
print("6. Exponent")
print("7. Floor Division")
Num1 = float(input("Enter first number : "))
Num2 = float(input("Enter second number : "))
Choice = int(input("Enter your choice : "))
if Choice == 1:
  print(Num1, "+", Num2, "=", Num1+Num2)
  print("Addition")
elif Choice == 2:
  print(Num1, "-", Num2, "=", Num1-Num2)
  print("Subtraction")
elif Choice == 3:
  print(Num1, "*", Num2, "=", Num1*Num2)
  print("Multiplication")
elif Choice == 4:
  if Num2 == 0:
    print("Cannot divide by zero")
  else:
    print(Num1, "/", Num2, "=", Num1/Num2)
    print("Division")
elif Choice == 5:
  print(Num1, "%", Num2, "=", Num1%Num2)
  print("Modulus")
elif Choice == 6:
  print(Num1, "**", Num2, "=", Num1**Num2)
  print("Exponent")
elif Choice == 7:
  print(Num1, "//", Num2, "=", Num1//Num2)
  print("Floor Division")
else:
  print("Invalid Choice")

****Calculator****
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Modulus
6. Exponent
7. Floor Division
Enter first number : 3
Enter second number : 2
Enter your choice : 7
3.0 // 2.0 = 1.0
Floor Division

#####Loop Statement

In [37]:
i = [10, 20, 30]
for x in i:
  print(x)

10
20
30

In [36]:
# To increment by 2 in a for loop, use the range() function with a step argument
for n in range(1, 10, 2): # This will iterate from 1 to 10, incrementing by 2
  print(n)

1
3
5
7
9

In [40]:
my_string = "Programming"
for char in my_string[::2]:
  print(char)

P
o
r
m
i
g

In [23]:
S = 'Sangita'
for n in S:
  print(n)
  if n == 'a':
    break
print('Thank you!')

S
a
Thank you!

In [24]:
S = 'Sangita'
for n in S:
  if n == 'a':
    continue
  print(n)
print('Thank you!')

S
n
g
i
t
Thank you!

In [32]:
S = 'Sangita'
for n in S:
  if n == 'a':
    pass
  print(n)
print('Thank you!')

S
a
n
g
i
t
a
Thank you!

In [42]:
a = 0
while a <= 5 : # Increased the upper limit to better show the increment of 2
  print(a)
  a += 2 # Increment by 2
print('Thank you!')

0
2
4
Thank you!

In [43]:
my_string = "Programming"
index = 0
while index < len(my_string):
  print(my_string[index])
  index += 2

P
o
r
m
i
g

Range

### Functions

In [ ]:
def greet():    #Define a function
  print("Hello! Lets learn Python Function!")

In [ ]:
greet()   #Call a function

Hello! Lets learn Python Function!

In [ ]:
def add_num(a, b):
  return a+b

print(add_num(10, 20))

30

In [ ]:
def adding(v1, v2):
  print(v1+v2)

adding(10, 40)

50

In [ ]:
def evenodd(v1):
  if v1 % 2 == 0:
    print("Even Number")
  else:
    print("Odd Number")

evenodd(35)

Odd Number

###Arbitary Arguments (Any no. of param)

In [ ]:
def total(*args):
  tot = 0
  for n in args:
    tot += n
  print(tot)

total(20, 60)

80

In [ ]:
total(70, 50.9, 90)

210.9

###Keyword Arbitary Arguments

In [ ]:
def profile(**kwargs):
  print(key, args)